In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)

In [2]:
#take a peak at file
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
#PLAYER COUNT
#Find the total number of players and make a DataFrame

total_players_df = pd.DataFrame({'Total Players':[purchase_data_df["SN"].nunique()]})

total_players_df

   Total Players
0            576

In [5]:
#PURCHASING ANALYSIS (TOTAL)
#Number of unique items, average purchase price, total number of purchases, total revenue
purch_analysis_tot_df = pd.DataFrame({"Number of Unique Items":[purchase_data_df["Item Name"].nunique()],
            "Average Price":[purchase_data_df["Price"].mean()],
            "Total Number of Purchases":[purchase_data_df["Purchase ID"].nunique()],
            "Total Revenue":[purchase_data_df["Price"].sum()]
           })

purch_analysis_tot_df

#STILL NEED TO FORMAT!!

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [102]:
#GENDER DEMOGRAPHICS
#Percentage and count of players who declare male, female, or other/non-disclosed
grouped_purch_data_df = purchase_data_df.groupby(["SN"])
first_user_occurance_df = grouped_purch_data_df.first()
gender_summary_df = pd.DataFrame(first_user_occurance_df["Gender"].value_counts())
gender_summary_df["Percentage of Players"]=gender_summary_df["Gender"]/gender_summary_df["Gender"].sum()
gender_summary_df.rename(columns = {'Gender':'Total Count'}, inplace=True)
gender_summary_df

#STILL NEED TO FORMAT!!

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [ ]:
#PURCHASING ANALYSIS (GENDER)
#By GENDER show Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase per Person